root = true

# Python files
[*.py]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Batch files
[*.bat]
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# PowerShell files
[*.ps1]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Markdown files
[*.md]
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Text files
[*.txt]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# All files
[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
